@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dracula;
}

/* Set Sora as the main font for the entire application */
body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply the font to all elements for consistency */
* {
  font-family: 'Sora', sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animation {
  background: linear-gradient(45deg, var(--color-base-300), var(--color-primary), var(--color-base-200), var(--color-base-100)); // Changed to 45deg
  background-size: 600% 600%;
  animation: gradientAnimation 15s ease infinite;
}